<app-navigation-bar [isAdmin] = "isAdmin"></app-navigation-bar>

<h1 style="color:teal;" align="center"> Mi lista de eventos</h1>

<div class="container1">
  <div class="card" *ngFor="let myEvent of myEvents">
      <img src="{{myEvent.imageURL}}" alt="Avatar" style="width:100%">
      <div class= "container2">
        <h4 style="color: royalblue">{{myEvent.name}}</h4>
        <p><strong> Hora: </strong> :{{myEvent.date.toDate() |  date : 'h:mma'}} </p> 
        <p><strong> Fecha: </strong> :{{myEvent.date.toDate() | date : " MMMM d, EEEE , y"}} </p> 
        <button  type="button" class="btn btn-primary btn-sm" (click)="goToEventDetails(myEvent.id)" >Seguir Leyendo</button>
      </div>
    </div>
</div>
