<app-navigation-bar [isAdmin] = "isAdmin"></app-navigation-bar>
<h1 style="color:teal;" align="center"> Mis eventos</h1>
<div class="list-events-all" *ngFor= "let myEvent of myEvents">
  <li class="list-group-item">
    <div class="row">
      <div class="image col-sm-2"><img src="{{myEvent.imageURL}}" alt="Avatar" style="width:100px"></div>
      <div class="name col-sm-8">
        <h5><strong>{{myEvent.name}}</strong></h5>
        <h6><strong>Fecha: </strong>{{myEvent.date.toDate() | date : " MMMM d, EEEE , y"}}</h6>
        <h6><strong>Hora: </strong> :{{myEvent.date.toDate() |  date: 'h:mma'}} </h6>  
      </div>
      <div class="boton col-sm-2"><button type="button" class="btn btn-info"  (click)="goToEventDetails(myEvent.id)"><h6>Ver más</h6></button></div>
    </div>
    
  </li>
</div>
<div *ngIf="myEvents.length==0">
  <p class="lead" align="center">No esta participando en ningun evento</p>
</div>