<div *ngIf="isAdmin">
  <nav>
    <img src="https://firebasestorage.googleapis.com/v0/b/zamy-d9d98.appspot.com/o/zamy-web%2FlogoZamyNavBar.jpg?alt=media&token=31399c99-0ca7-4433-968e-5a250f13fc94">
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Zamy Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="event/all">Eventos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="event/registration">Crear Evento</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="pending-user/all">Solicitudes de registro</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/notification-list"></a>
        </li>
      </ul>
      <a class="navbar-brand">{{username}}</a>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="logout()">Log out</button>
    </div>
  </nav>
</div>

<div *ngIf="!isAdmin">
  <nav>
    <img src="https://firebasestorage.googleapis.com/v0/b/zamy-d9d98.appspot.com/o/zamy-web%2FlogoZamyNavBar.jpg?alt=media&token=31399c99-0ca7-4433-968e-5a250f13fc94">
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Zamy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="event/all">Eventos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="my-events">Mis Eventos</a>
        </li>
      </ul>
      <a class="navbar-brand">{{username}}</a>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="logout()">Log out</button>
    </div>
  </nav>
</div>