<div class="dropdown"  >
  <button (click)="alert = false" [ngClass]="{'btn': true, 'dropdown-toggle':true, 'btn-danger':alert, 'btn-secondary': !alert }" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Notificaciones
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item"  *ngFor="let notification of notifications" (click)="goToEventDetails(notification.eventId)">
      <p>El evento {{notification.eventName}}</p>
      <p>ha sido actualizado</p>
      <div class="dropdown-divider"></div>
    </a>
  </div>
</div>