.btn-info{
    width: 30%;
    margin: 20px;
    margin-left: 50px;
    padding: 3px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.btn-danger{
    width: 30%;
    margin: 20px;
    margin-left: 50px;
    padding: 3px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}
