<div id="fullscreen_bg" class="fullscreen_bg">
  <div class="container">
    <div class="jumbotron">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <div align="center">
        <div class="avatar" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/zamy-d9d98.appspot.com/o/zamy-web%2FlogoZamy2.jpg?alt=media&token=b4a19afa-022b-4359-8e9a-862cae709727)">
        </div>
      </div>
      <h4 align="center">Recupera tu contraseña</h4>
      <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar username"
          [(ngModel)]="username">
          <p class="text-danger">{{warningMessage}}</p>
      </div>
      <button type="button" class="btn btn-warning btn-lg btn-block" (click)="sendRestorationEmail()" data-toggle="modal" data-target="#emailSent">
        <div align="center">
          Enviar
        </div>
      </button>
    </div>
  </div>

<!--MODAL-->
</div>
<div *ngIf="!openSuccessModal">
<div class="modal" id="emailSent">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¡Listo!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="goToLogin()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Recibiras un correo para restaurar tu contraseña.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="goToLogin()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>