
<div>
  <nav>
      <img src="https://image.ibb.co/gZ4of8/31285668_10211812058365278_3089220609935147008_n.jpg">
  </nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registrar Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registrar Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ver eventos</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
              <button type="button" class="btn btn-primary">User</button>
        </form>
      </div>
    </nav>

</div>
<router-outlet></router-outlet>