<div id="fullscreen_bg" class="fullscreen_bg">
  <div class="container">
    <div class="jumbotron">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <div align="center">
        <div class="avatar" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/zamy-d9d98.appspot.com/o/zamy-web%2FlogoZamy2.jpg?alt=media&token=b4a19afa-022b-4359-8e9a-862cae709727)">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar username"
          [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresar contraseña" [(ngModel)]="password">
      </div>

      <div align="center">
        <a href="password-restoration" class="forgot-password">
          <p class="text-muted">
            <small> ¿Olvidaste tu contraseña? </small>
          </p>
        </a>
      </div>
      <button type="button" class="btn btn-warning btn-lg btn-block" (click)="login(username,password)">
        <div align="center">
          Login
        </div>
      </button>
      <div align="center">
        <a href="user-registration" class="forgot-password">
          <p class="text-muted">
            <small>¿Eres Nuevo?, Registrate</small>
          </p>
        </a>
      </div>
    </div>
    <!-- /card-container -->

  </div>
  <!-- /container -->
</div>
<button id="openModalButton" hidden=true data-toggle="modal" data-target="#invalidCredentials">
</button>
<!--MODAL-->
<div  class="modal" id="invalidCredentials">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span class="badge badge-danger">Error</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Usuario y/o contraseña incorrecta. Vuelve a intentarlo</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>